body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:33px;
  top:36px;
  width:114px;
  height:35px;
  font-family:'Chalkboard', 'Chalkboard';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#F7941E;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:10px;
  top:10px;
  width:50px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:30px;
  top:390px;
  width:200px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#F7941E;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6 {
  position:absolute;
  left:30px;
  top:435px;
  width:100px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Baghdad', 'Baghdad';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#F7941E;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7 {
  position:absolute;
  left:20px;
  top:81px;
  width:70px;
  height:27px;
  font-family:'Handwriting-Dakota', 'Handwriting - Dakota';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:30px;
  top:520px;
  width:300px;
  height:20px;
  font-family:'Baghdad', 'Baghdad';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10 {
  position:absolute;
  left:16px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u9_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11 {
  position:absolute;
  left:30px;
  top:305px;
  width:200px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Baghdad', 'Baghdad';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#F7941E;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12 {
  position:absolute;
  left:140px;
  top:438px;
  width:90px;
  height:22px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Baghdad', 'Baghdad';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#F7941E;
}
#u12_input:disabled {
  color:grayText;
}
#u13 {
  position:absolute;
  left:260px;
  top:435px;
  width:80px;
  height:22px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  font-family:'Baghdad', 'Baghdad';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#F7941E;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u14 {
  position:absolute;
  left:30px;
  top:490px;
  width:228px;
  height:20px;
  font-family:'Baghdad', 'Baghdad';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15 {
  position:absolute;
  left:16px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u14_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16 {
  position:absolute;
  left:30px;
  top:345px;
  width:200px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Baghdad', 'Baghdad';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#F7941E;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u17 {
  position:absolute;
  left:240px;
  top:345px;
  width:90px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Baghdad', 'Baghdad';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#F7941E;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u18 {
  position:absolute;
  left:210px;
  top:570px;
  width:120px;
  height:40px;
  font-family:'Chalkboard', 'Chalkboard';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:70px;
  top:268px;
  width:200px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:191px;
  top:-5px;
  width:14px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u21 {
  position:absolute;
  left:30px;
  top:128px;
  width:70px;
  height:32px;
  font-family:'Chalkboard', 'Chalkboard';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:33px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:30px;
  top:160px;
  width:70px;
  height:32px;
  font-family:'Chalkboard', 'Chalkboard';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:33px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:30px;
  top:218px;
  width:70px;
  height:32px;
  font-family:'Chalkboard', 'Chalkboard';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:33px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:260px;
  top:128px;
  width:70px;
  height:32px;
  font-family:'Chalkboard', 'Chalkboard';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:33px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:260px;
  top:160px;
  width:70px;
  height:32px;
  font-family:'Chalkboard', 'Chalkboard';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:33px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:260px;
  top:218px;
  width:70px;
  height:32px;
  font-family:'Chalkboard', 'Chalkboard';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:33px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:165px;
  top:128px;
  width:70px;
  height:32px;
  font-family:'Chalkboard', 'Chalkboard';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:33px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
