body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:57px;
  top:10px;
  width:190px;
  height:59px;
  font-family:'Noteworthy-Light', 'Noteworthy Light', 'Noteworthy';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  color:#F7941E;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:60px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:9px;
  top:20px;
  width:40px;
  height:40px;
  color:#66CCCC;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:59px;
  top:140px;
  width:240px;
  height:128px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:129px;
}
#u5 {
  position:absolute;
  left:2px;
  top:56px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:53px;
  top:430px;
  width:252px;
  height:170px;
  font-family:'AmericanTypewriter', 'American Typewriter';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:171px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:52px;
  top:86px;
  width:200px;
  height:54px;
  font-family:'AmericanTypewriter', 'American Typewriter';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:55px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:157px;
  top:540px;
  width:153px;
  height:50px;
  font-family:'Noteworthy-Light', 'Noteworthy Light', 'Noteworthy';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:149px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:76px;
  top:150px;
  width:198px;
  height:270px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:270px;
}
#u13 {
  position:absolute;
  left:2px;
  top:127px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
