body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:57px;
  top:10px;
  width:156px;
  height:59px;
  font-family:'Noteworthy-Light', 'Noteworthy Light', 'Noteworthy';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  color:#F7941E;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:60px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:9px;
  top:20px;
  width:40px;
  height:40px;
  color:#66CCCC;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:52px;
  top:440px;
  width:252px;
  height:60px;
  font-family:'AmericanTypewriter', 'American Typewriter';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:61px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:153px;
  top:520px;
  width:153px;
  height:50px;
  font-family:'Noteworthy-Light', 'Noteworthy Light', 'Noteworthy';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:149px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:50px;
  top:99px;
  width:256px;
  height:211px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:212px;
}
#u9 {
  position:absolute;
  left:2px;
  top:98px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:64px;
  top:108px;
  width:229px;
  height:172px;
  font-family:'AmericanTypewriter', 'American Typewriter';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#009999;
}
#u10_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:234px;
  height:177px;
}
#u11 {
  position:absolute;
  left:2px;
  top:72px;
  width:225px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:210px;
  top:258px;
  width:110px;
  height:142px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:142px;
}
#u13 {
  position:absolute;
  left:2px;
  top:63px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
