body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:57px;
  top:10px;
  width:121px;
  height:59px;
  font-family:'Noteworthy-Light', 'Noteworthy Light', 'Noteworthy';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  color:#F7941E;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:60px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:9px;
  top:20px;
  width:40px;
  height:40px;
  color:#66CCCC;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:46px;
  top:296px;
  width:290px;
  height:218px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:219px;
}
#u6 {
  position:absolute;
  left:2px;
  top:101px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:20px;
  top:234px;
  width:116px;
  height:140px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:140px;
}
#u8 {
  position:absolute;
  left:2px;
  top:62px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:53px;
  top:98px;
  width:287px;
  height:52px;
  font-family:'AmericanTypewriter', 'American Typewriter';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:53px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:53px;
  top:150px;
  width:287px;
  height:52px;
  font-family:'AmericanTypewriter', 'American Typewriter';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:53px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  word-wrap:break-word;
}
