body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:339px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:52px;
  top:86px;
  width:287px;
  height:52px;
  font-family:'AmericanTypewriter', 'American Typewriter';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:53px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:57px;
  top:10px;
  width:190px;
  height:59px;
  font-family:'Noteworthy-Light', 'Noteworthy Light', 'Noteworthy';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  color:#F7941E;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:60px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:9px;
  top:20px;
  width:40px;
  height:40px;
  color:#66CCCC;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:49px;
  top:252px;
  width:290px;
  height:218px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:219px;
}
#u7 {
  position:absolute;
  left:2px;
  top:101px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:23px;
  top:190px;
  width:116px;
  height:140px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:140px;
}
#u9 {
  position:absolute;
  left:2px;
  top:62px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
