body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:571px;
}
#u1 {
  position:absolute;
  left:2px;
  top:277px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:33px;
  top:36px;
  width:114px;
  height:35px;
  font-family:'Chalkboard', 'Chalkboard';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#F7941E;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:10px;
  top:10px;
  width:50px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:33px;
  top:36px;
  width:114px;
  height:35px;
  font-family:'Chalkboard', 'Chalkboard';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#F7941E;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:10px;
  top:10px;
  width:50px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:188px;
  top:91px;
  width:142px;
  height:106px;
  font-family:'Handwriting-Dakota', 'Handwriting - Dakota';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:107px;
}
#u13 {
  position:absolute;
  left:2px;
  top:40px;
  width:138px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:26px;
  top:91px;
  width:142px;
  height:106px;
  font-family:'Handwriting-Dakota', 'Handwriting - Dakota';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#F7941E;
}
#u14_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:147px;
  height:111px;
}
#u15 {
  position:absolute;
  left:2px;
  top:26px;
  width:138px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:188px;
  top:210px;
  width:142px;
  height:106px;
  font-family:'Handwriting-Dakota', 'Handwriting - Dakota';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:107px;
}
#u17 {
  position:absolute;
  left:2px;
  top:26px;
  width:138px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:26px;
  top:210px;
  width:142px;
  height:106px;
  font-family:'Handwriting-Dakota', 'Handwriting - Dakota';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:107px;
}
#u19 {
  position:absolute;
  left:2px;
  top:40px;
  width:138px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:188px;
  top:329px;
  width:142px;
  height:106px;
  font-family:'Handwriting-Dakota', 'Handwriting - Dakota';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:107px;
}
#u21 {
  position:absolute;
  left:2px;
  top:26px;
  width:138px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:26px;
  top:329px;
  width:142px;
  height:106px;
  font-family:'Handwriting-Dakota', 'Handwriting - Dakota';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:107px;
}
#u23 {
  position:absolute;
  left:2px;
  top:40px;
  width:138px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:188px;
  top:448px;
  width:142px;
  height:106px;
  font-family:'Handwriting-Dakota', 'Handwriting - Dakota';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:107px;
}
#u25 {
  position:absolute;
  left:2px;
  top:40px;
  width:138px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:26px;
  top:448px;
  width:142px;
  height:106px;
  font-family:'Handwriting-Dakota', 'Handwriting - Dakota';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:107px;
}
#u27 {
  position:absolute;
  left:2px;
  top:40px;
  width:138px;
  word-wrap:break-word;
}
