body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:57px;
  top:10px;
  width:121px;
  height:59px;
  font-family:'Noteworthy-Light', 'Noteworthy Light', 'Noteworthy';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  color:#F7941E;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:60px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:9px;
  top:20px;
  width:40px;
  height:40px;
  color:#66CCCC;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:140px;
  top:90px;
  width:200px;
  height:100px;
  font-family:'AmericanTypewriter', 'American Typewriter';
  font-weight:400;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:101px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:15px;
  top:105px;
  width:105px;
  height:85px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:85px;
}
#u8 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:28px;
  top:90px;
  width:65px;
  height:78px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:78px;
}
#u10 {
  position:absolute;
  left:2px;
  top:31px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:628px;
  top:550px;
  width:222px;
  height:50px;
  font-family:'Noteworthy-Light', 'Noteworthy Light', 'Noteworthy';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:51px;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:218px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:57px;
  top:259px;
  width:222px;
  height:201px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:202px;
}
#u14 {
  position:absolute;
  left:2px;
  top:92px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:68px;
  top:270px;
  width:200px;
  height:149px;
  font-family:'Noteworthy-Light', 'Noteworthy Light', 'Noteworthy';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#009999;
}
#u15_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:205px;
  height:154px;
}
#u16 {
  position:absolute;
  left:2px;
  top:55px;
  width:196px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:118px;
  top:500px;
  width:100px;
  height:30px;
  font-family:'Noteworthy-Light', 'Noteworthy Light', 'Noteworthy';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#009999;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u18 {
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
